<h2>Is there a soup kitchen that's not on our list? Add it here.</h2>

<%= render 'form' %>

<%= link_to "Back to All Soupkitchens", soupkitchens_path %>


<section id= "soupkitchensResult">
  <h3 id="soupkitchensName"></h3>
  
</section>

<script type='text/javascript' charset='utf-8' >
    $(function() {
      $('form').submit(function(event) {
        event.preventDefault();
          console.log("got to submit button")

           const values = $(this).serialize();
           const newSoupkitchen = $.post('/soupkitchens', values);
           newSoupkitchen.done(function(data) {
            console.log(data);
          
// the place on the api, that will transfer it to the db. HELP 
            $("#soupkitchensName").text(data["title"]);
            $("#soupkitchensAddress").text(data["address"]);
            $("#soupkitchensComments").text(data["comments"]);
            $("#soupkitchensNotes").text(data["notes"]);   
           });
        });
    });
</script>