<h2>Philly Soup Kitchens and Food Pantries </h2>
<h4> Need a meal? Here's what people are saying about our city's no-cost kitchens and pantries. </h4>

<p>Wonder what your local soupkitchen or foodpantry is really like? </p>
<p>Sign in to leave your own reviews.</p>


<%= link_to "Soup Kitchens", soupkitchens_path %>
<br>

<%= link_to "Food Pantries", foodpantries_path %> Coming soon! 

<br>

<p> new features? Can this be the single page, where all sk and fp's are loaded in? </p>