<h2>Philly Soup Kitchens and Food Pantries </h2>

<h4> Need a free meal or food supplies? Here's what people are saying about Philly's no-cost kitchens and pantries. </h4>

<p>Sign in to leave your own reviews or to add new kitchens and pantries.</p>

<section class="navbar2 navbar-default">
    <button id="js-soupkitchen-button">Soupkitchens</button>
    <button id="js-foodpantry-button">Food Pantries</button>
</section>

<section class="data">
  <div id="soupkitchen-data"></div>
  
  <div id="foodpantry-data"></div>

</section> 



<!-- 
<%= link_to "Soup Kitchens", soupkitchens_path %>
<br>

<%= link_to "Food Pantries", foodpantries_path %> Coming soon! 
 -->
