<h4> Need a free meal or food supplies? Here's what people are saying about Philly's no-cost kitchens and pantries. </h4>

<p>Sign in to leave your own reviews or to add new kitchens and pantries.</p>

<div class="navbar2">
  
    <button class="navbar2-button" id="soupkitchen-button">Soupkitchens</button>
   
    <button class="navbar2-button" id="foodpantry-button">Food Pantries(Coming Soon!)</button>
   
</div>

<section id="data">
  <!-- //soupkitchen index -->
      <div class="soupkitchen-data">sk data</div>
      <div class="new-comment-form">new comment form</div>
      <div class="comments-data"></div>
        <!-- <p id=review-button-toggle><button class="add-review-button" data-id=${this.id}>Add a Review</button></p></div> -->
  <!-- //foodpantry index -->    
      <div class="foodpantry-data"></div>
 </section>  
  
    




