

<h4> Need a free meal or food supplies? Here's what people are saying about Philly's no-cost kitchens and pantries. </h4>

<p>Sign in to leave your own reviews or to add new kitchens and pantries.</p>

<section class="navbar2 navbar-default">

    <button id="soupkitchen-button">Soupkitchens</button>

    <button id="foodpantry-button">Food Pantries(Coming Soon!)</button>
    
</section>

<!-- put soupkitchen and foodpantry index here -->
<section class="data">
  
    <div id="soupkitchen-data"></div>
    <!-- code at soupkitchens.js -->
    <!-- each soupkitchen entry will add to the DOM a button for comments, which goes here -->

  <!--   <div id="comments-title"></div> -->
    <div id="comments-data"></div>
    
 <!--    <button id="add-new comment"><button> -->
    

    <!-- code at foodpantries.js future phase-->
    <!-- <div id="foodpantry-title"></div> -->
    <div id="foodpantry-data"></div>


</section>

