<h4> Need a free meal or food supplies? Here's what people are saying about Philly's no-cost kitchens and pantries. </h4>

<p>Sign in to leave your own reviews or to add new kitchens and pantries.</p>

<section class="navbar2">
    <button class="navbar2-button" id="soupkitchen-button">Soupkitchens</button>

    <button class="navbar2-button" id="foodpantry-button">Food Pantries(Coming Soon!)</button>
</section>

<section class="data">
    <div id="soupkitchen-data"></div>
    <div id="foodpantry-data"></div>

  <!--   <div id="comments-title"></div> -->
   
    <div id="comments-data"><!-- default text with button -->
    <div id="load-comment-form2">
      `  
    <h4>No comments yet. Would you like to leave the first one?</h4>
    <button class="add-review-button" data-id=${this.id}>Add a Review</button> 
    `
    </div>
    
   
  
    <!-- code at foodpantries.js future phase-->
    <!-- <div id="foodpantry-title"></div> -->
 


</section>

