<section class="footer-main">
  <div class="container">
      <a class="footer-text" href="https://twitter.com/miriampeskowitz?lang=en" target="_blank" alt="link to connect to miriam peskowitz on twitter">@miriampeskowitz</a>
  </div>
</section>


